@if (!genderAutoSelected) {
  <section class="character-select">
    <h1 class="title">{{ 'game.main.roulette.character.welcome' | translate }} {{ generation.region }}!</h1>
    <p class="subtitle">{{ 'game.main.roulette.character.gender' | translate }}</p>

    <div class="trainer-gender">
      <button type="button" class="trainer-card" (click)="selectTrainerGender('male')">
        <span class="trainer-art">
          <img [src]="boySprite" alt="Boy">
        </span>
        <span class="trainer-name">{{ 'game.main.roulette.character.boy' | translate }}</span>
      </button>

      <button type="button" class="trainer-card" (click)="selectTrainerGender('female')">
        <span class="trainer-art">
          <img [src]="girlSprite" alt="Girl">
        </span>
        <span class="trainer-name">{{ 'game.main.roulette.character.girl' | translate }}</span>
      </button>
    </div>
  </section>
}
