<section class="wheel-container" [class.is-spinning]="spinning">
    <div class="wheel-status">
        <span>{{ currentSegment | translate }}</span>
    </div>

    <div class="canvas-shell">
        <div class="canvas-container">
            <canvas id="wheel"
                    #wheel
                    [width]="wheelWidth"
                    [height]="canvasHeight"
                    (click)="spinWheel()">
            </canvas>
            <canvas id="pointer"
                    #pointer
                    [width]="cursorWidth"
                    [height]="canvasHeight">
            </canvas>
        </div>
    </div>

    <button class="btn btn-primary spin-button"
            [disabled]="spinning"
            (click)="spinWheel()">
            {{ 'wheel.spin' | translate }}
    </button>
</section>
